<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="compte" class="com.ensa.entities.Compte" />
	<bean id="before" class="com.ensa.aspect.BeforeAop" />
	<bean id="around" class="com.ensa.aspect.AroundAop" />
	<bean id="after" class="com.ensa.aspect.AfterAop" />
	<bean id="compteProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="compte" />
		<property name="interceptorNames">
			<list>
				<value>before</value>
				<value>around</value>
				<value>after</value>
			</list>
		</property>
	</bean>
</beans>